#root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}
html,
body {
  max-width: 1290px;
  height: 100%;
  margin: 2rem 2rem;
  background-image: url('movie.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-size: contain; */
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}
* {
  transition: 0.4s;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem;
}

p {
  font-size: 1.4rem;
  width: 400px;
  color: black;
  background-color: white;
}
#search-input {
  color: white;
  background-color: black;
  font-size: 1rem;
  padding: 10px 10px;
  margin: 10px 0;
  border-color: white;
  border-radius: 5px;
  width: 200px;
}

#select-input {
  color: white;
  background-color: black;
  font-size: 1rem;
  padding: 10px 10px;
  border-color: white;
  border-radius: 5px;
  width: 340px;
  margin: 10px 0;
}
img {
  box-shadow: 0 0 10px 5px white;
  width: 400px;
}

@media (max-width: 767.98px) {
  #select-input {
    padding: 20px 20px;
    font-size: 1.4rem;
    height: 1.8rem;
  }
  #search-input {
    padding: 20px 20px;
    font-size: 1.4rem;
  }
}
